* {
  margin: 0;
  padding: 0;
}

.jumbo {
  min-height: 600px;
  max-height: 1000px;
}

.sponsors {
  min-height: 350px;
}

.formo {
  min-height: 550px;
}

.background-vid {
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
